<footer>
  <div class="container">
    <div>
      <a href="./index.html" class="logo">
        <img src="./images/logo/logo.png" alt="logo" width="100" />
      </a>
      <div class="contact">
        <ul>
          <li>
            <a
              class="find__addres"
              href="https://goo.gl/maps/cFrJsE5g2gY6f92F7"
              target="_blank"
              rel="noopener noreferrer"
              translate-key="text-address"
              >Kyiv, Ioanna Pavla II street, 11 / 5, 01042 Ukraine</a
            >
          </li>
          <li>
            <a
              class="find__contacts-footer-link"
              href="mailto:admin@stronger-together.com.ua"
              translated
              >admin@stronger-together.com.ua</a
            >
          </li>
          <li>
            <a
              class="find__contacts-footer-link"
              href="tel:+380950442699"
              translated
            >
              +38 095 044 26 99
            </a>
          </li>
        </ul>
      </div>
      <a href="http://" target="_blank" rel="noopener noreferrer"></a>
    </div>
    <p>© 2023 Serhiy Prytula Charity Foundation. All rights reserved</p>
  </div>
</footer>
