<section class="hero">
  <div class="container">
    <div class="block-title">
      <h1 class="title">
        БЛАГОДІЙНИЙ ФОНД <br /><span class="title-second"
          >“СИЛА У ЄДНАННІ”</span
        >
      </h1>
      <p>Разом до перемоги</p>
      <button type="button" class="button-help">Допомогти</button>
    </div>
  </div>
</section>

<section class="report">
  <div class="container">
    <svg width="182" height="122" aria-label="warriors">
      <use href="./images/icons/sprite.svg#icon-OBJECTS"></use>
    </svg>

    <h2>Допомога армії</h2>
    <ul class="report-list">
      <li class="report-item">
        <img
          src="./images/report/avto.jpg"
          alt="car"
          width="370"
          height="490"
        />
        <div class="block-report">
          <div>
            <h3>Автомобіль</h3>
            <p class="about-report">
              Із задоволенням повідомляє про успішну передачу автомобіля
              медичної допомоги Збройним Силам України. Кошти на придбання
              даного автомобіля були зібрані завдяки щедрим внескам наших
              донорів. Автомобіль медичної допомоги, обладнаний сучасним
              медичним обладнанням, дозволить забезпечити швидку і якісну
              медичну допомогу усім, хто потребує, на передовій. Він включає
              різноманітне обладнання, включаючи апарат штучної вентиляції
              легенів, портативний УЗД, а також сучасні системи зв'язку і
              навігації. Наша місія в благодійному фонді "СИЛА У ЄДНАННІ" -
              підтримувати здоров'я та безпеку тих, хто захищає нашу країну.
              Велике спасибі всім нашим донорам, які роблять це можливим.
            </p>
          </div>
          <p class="report-data">07 липня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Бронежилети</h3>
            <p class="about-report">
              Радий повідомити про успішну передачу партії сучасних бронежилетів
              Збройним Силам України. Фінансування для цієї закупівлі було
              зібрано завдяки великодушним внескам наших партнерів та донорів.
              Ці бронежилети є на передньому краю військової захисної
              технології, надаючи нашим солдатам найкращий можливий захист на
              полі бою. Вони мають високу ступінь бронезахисту, легкість та
              гнучкість, що дозволяє воїнам рухатися швидко і ефективно. У фонді
              ми прагнемо до того, щоб кожен солдат, який виходить на передову,
              мав найкращу можливу захисну екіпіровку. Велике спасибі всім нашим
              партнерам і донорам, які допомагають нам реалізувати цю місію.
            </p>
          </div>
          <p class="report-data">17 квітня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Продукти</h3>
            <p class="about-report">
              Повідомляємо про успішну передачу значної кількості продуктів
              харчування Збройним Силам України. Ця передача стала можливою
              завдяки щедрим внескам наших донорів. Передані продукти харчування
              включають високоякісне консервоване м'ясо, сухі харчові раціони,
              свіжі овочі та фрукти, а також запаси води. Вони забезпечують
              наших солдат необхідною енергією та харчовими речовинами, щоб вони
              могли продовжувати виконувати свої важливі завдання. У фонді ми
              віримо, що надання підтримки у формі збалансованого харчування є
              однією з основних потреб наших воїнів. Велике спасибі всім нашим
              донорам за вашу непохитну підтримку та внески, які допомагають нам
              забезпечити наших військових гідним харчуванням.
            </p>
          </div>
          <p class="report-data">23 серпня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Бронежилети</h3>
            <p class="about-report">
              Черговий раз, радий повідомити про успішну передачу партії
              сучасних бронежилетів Збройним Силам України. Фінансування для
              цієї закупівлі було зібрано завдяки великодушним внескам наших
              партнерів та донорів. Ці бронежилети є на передньому краю
              військової захисної технології, надаючи нашим солдатам найкращий
              можливий захист на полі бою. Вони мають високу ступінь
              бронезахисту, легкість та гнучкість, що дозволяє воїнам рухатися
              швидко і ефективно. У фонді ми прагнемо до того, щоб кожен солдат,
              який виходить на передову, мав найкращу можливу захисну
              екіпіровку. Велике спасибі всім нашим партнерам і донорам, які
              допомагають нам реалізувати цю місію.
            </p>
          </div>
          <p class="report-data">20 травня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Продукти</h3>
            <p class="about-report">
              Чергова передача значної кількості продуктів харчування Збройним
              Силам України. Ця передача стала можливою завдяки щедрим внескам
              наших донорів. Передані продукти харчування включають високоякісне
              консервоване м'ясо, сухі харчові раціони, свіжі овочі та фрукти, а
              також запаси води. Вони забезпечують наших солдат необхідною
              енергією та харчовими речовинами, щоб вони могли продовжувати
              виконувати свої важливі завдання. У фонді ми віримо, що надання
              підтримки у формі збалансованого харчування є однією з основних
              потреб наших воїнів. Велике спасибі всім нашим донорам за вашу
              непохитну підтримку та внески, які допомагають нам забезпечити
              наших військових гідним харчуванням.
            </p>
          </div>
          <p class="report-data">09 вересня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Генератор</h3>
            <p class="about-report">
              Виконали передачу високоякісного електрогенератора Збройним Силам
              України. Завдяки щедрим внескам наших донорів ми змогли придбати
              цей важливий прилад, що забезпечує енергію. Цей сучасний
              електрогенератор може виробляти достатньо енергії для забезпечення
              життєво важливого обладнання, освітлення та інших енергозависимих
              систем на передовій. Його мобільність і надійність роблять його
              незамінним у складних і вимогливих умовах. Ми у фонді "Енергія
              Незалежності" визнаємо важливість надійного джерела енергії для
              успішного виконання завдань нашими військовими. Велике спасибі
              всім нашим донорам, які допомагають нам підтримувати та
              підсилювати цю важливу потребу.
            </p>
          </div>
          <p class="report-data">21 січня 2023 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Продукти</h3>
            <p class="about-report">
              Чергова передача значної кількості продуктів харчування Збройним
              Силам України. Ця передача стала можливою завдяки щедрим внескам
              наших донорів. Передані продукти харчування включають високоякісне
              консервоване м'ясо. Велике спасибі всім нашим донорам за вашу
              непохитну підтримку та внески, які допомагають нам забезпечити
              наших військових гідним харчуванням.
            </p>
          </div>
          <p class="report-data">23 червня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Оптика</h3>
            <p class="about-report">
              Благодійний Фонд з гордістю повідомляє про передачу сучасної
              оптики та приладів нічного бачення Збройним Силам України. Даний
              внесок був здійснений завдяки щедрим внескам наших донорів. Оптика
              та прилади нічного бачення, що були передані, представляють собою
              передові технології, які значно покращують здатність наших сил
              вести нічні операції та забезпечують відмінну видимість у
              будь-яких умовах. Ці пристрої допоможуть нашим солдатам
              орієнтуватися вночі, забезпечуючи їх безпеку та ефективність. У
              фонді ми віримо в надання нашим солдатам найкращих можливих
              засобів для виконання їхніх завдань. Велике спасибі всім нашим
              донорам, які допомагають нам забезпечувати наших воїнів найкращим
              обладнанням.
            </p>
          </div>
          <p class="report-data">17 грудня 2022 року</p>
        </div>
      </li>
      <li class="report-item">
        <img src="./images/report/avto.jpg" alt="" width="370" height="490" />
        <div class="block-report">
          <div>
            <h3>Інструменти</h3>
            <p class="about-report">
              Звітуємо про передачу компресорів та професійного інструменту
              Збройним Силам України. Зібрані завдяки щедрим внескам наших
              донорів, ці важливі засоби допоможуть підтримувати обладнання та
              техніку у відмінному стані. Надані компресори та інструменти
              представляють собою високоякісне обладнання, необхідне для
              проведення ремонтних робіт, обслуговування та управління
              обладнанням. Вони допоможуть нашим військовим швидко та ефективно
              реагувати на будь-які технічні проблеми. Ми віримо в підтримку
              наших воїнів не тільки засобами для боротьби, але й інструментами
              для підтримки їх обладнання. Велике спасибі всім нашим донорам,
              які допомагають нам реалізувати цю місію.
            </p>
          </div>
          <p class="report-data">20 грудня 2022 року</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <svg>
      <use href="./images/icons/sprite.svg#icon-ls"></use>
    </svg>
    <p>
      Не згасне ніколи вогонь свободи в серцях тих, хто вірить в майбутнє своєї
      країни. Наша сила - в єдності, наша перемога - в нашій вірності та
      відвазі. Ми стоїмо в обороні не лише нашої землі, а й наших цінностей,
      історії та майбутнього. Ми - непереможні, бо ми - разом!
    </p>
    <svg>
      <use href="./images/icons/sprite.svg#icon-rs"></use>
    </svg>
  </div>
</section>
