<main>
  <section>
    <div class="container">
      <ul>
        <li>
          <a
            href="https://www.liqpay.ua/en/checkout/card/i86068468141"
            target="_blank"
          >
            <svg>
              <use
                href="./images/icons/sprite.svg#icon-plain-credit-card-1"
              ></use>
            </svg>
            <p>LiqPay>></p>
          </a>
        </li>
        <li>
          <button type="button">
            <svg>
              <use href="./images/icons/sprite.svg#icon-bank-1"></use>
            </svg>
            <p>IBAN</p>
          </button>
        </li>
      </ul>
    </div>
  </section>
</main>
